@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("assets/background.jpg");
  background-size: 30%;
}

:root {
  --swiper-pagination-color: white;
  --swiper-theme-color: white;
  --swiper-navigation-size: 24px;
  --toastify-color-light: theme(colors.brand.500);
  --toastify-color-dark: theme(colors.brand.500);
}

.parallax-bg {
  @apply absolute inset-0 h-full;
  width: 130%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
